.jul-sortable:not(.jul-sortable--dummy) {
  position: relative;
}

.jul-sortable__item {
  touch-action: none;
}

.jul-sortable__item--dummy {
  position: fixed;
  cursor: grabbing;
}

.jul-sortable__item--dummy {
  box-shadow: 0 15px 30px rgb(0 0 0 / 20%);
  border: 1px dashed rgb(47, 47, 95);
}

.jul-sortable--dummy {
  opacity: 0;
  position: fixed;
  z-index: -1;
  visibility: hidden;
}

.jul-sortable__item.jul-sortable__item--dummy.jul-sortable-fixed-item {
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
  z-index: 1111;
}

.jul-sortable__item img {
  user-select: none;
  pointer-events: none;
}

.jul-sortable__dragHandel {
  cursor: grabbing;
}